main{
    display:flex;
    flex-wrap: wrap;
    padding-block:32px;
    gap: 32px;
    justify-content: center;
}

main img{
    border-radius: 8px;
    width: 280px;
    height: 280px;
    object-fit: cover;
}